<div class="row no-gutters bg-dark h-100">
  <div class="col-12">

    <nav class="nav justify-content-center">
      <a class="nav-link btn btn-block btn-primary rounded-0 m-0 shadow-none" [routerLink]="['/ddr-join-pipe']"
        routerLinkActive="active">DDR Join Pipe</a>
      <a class="nav-link btn btn-block btn-primary rounded-0 m-0 shadow-none" [routerLink]="['/ddr-spinner']"
        routerLinkActive="active">DDR Spinner</a>
      <a class="nav-link btn btn-block btn-primary rounded-0 m-0 shadow-none" [routerLink]="['/ddr-toast']"
        routerLinkActive="active">DDR Toast</a>
      <a class="nav-link btn btn-block btn-primary rounded-0 m-0 shadow-none" [routerLink]="['/ddr-clickoutside']"
        routerLinkActive="active">DDR Clickoutside</a>
      <a class="nav-link btn btn-block btn-primary rounded-0 m-0 shadow-none" [routerLink]="['/ddr-dropdown']"
        routerLinkActive="active">DDR Dropdown</a>
      <a class="nav-link btn btn-block btn-primary rounded-0 m-0 shadow-none" [routerLink]="['/ddr-load-iframe']"
        routerLinkActive="active">DDR Load iframe</a>
      <a class="nav-link btn btn-block btn-primary rounded-0 m-0 shadow-none" [routerLink]="['/ddr-configuration']"
        routerLinkActive="active">DDR Configuration</a>
      <a class="nav-link btn btn-block btn-primary rounded-0 m-0 shadow-none" [routerLink]="['/ddr-detail']"
        routerLinkActive="active">DDR Detail</a>
      <a class="nav-link btn btn-block btn-primary rounded-0 m-0 shadow-none" [routerLink]="['/ddr-block-list']"
        routerLinkActive="active">DDR Block list</a>
    </nav>
  </div>
</div>