<div class="row no-gutters">
  <div class="col-12">

    <div class="row no-gutters p-4 title">
      <div class="col-12">
        <h2 class="font-college">{{title}}</h2>
        <p>{{description}}</p>
      </div>
    </div>
    
    <div class="row no-gutters p-4" *ngIf="showContent">
      <div class="col-12">
        <ng-content select="[content-component]"></ng-content>
      </div>
    </div>

    <div class="row no-gutters documentation p-4">
      <div class="col-12">
        <ng-content select="[documentation-component]"></ng-content>
      </div>
    </div>

  </div>
</div>
