<ddr-base-test [title]="title" [description]="description" [showContent]="false">
  
  <div documentation-component>

    <h3>Añadir bootstrap y font-awesome</h3>

    <p>Cuando instale alguno de los componentes DDR, instalaran bootstrap y font-awesome. En angular.json:</p>

    <pre>
      <code class="language-typescript" pCode>
&quot;styles&quot;: [
  &quot;node_modules/bootstrap/dist/css/bootstrap.min.css&quot;,
  &quot;node_modules/font-awesome/css/font-awesome.min.css&quot;
]
      </code>
    </pre>


  </div>

</ddr-base-test>